<div class="card">
  <div class="row">
    <input readonly class="form-control" value="{{value1}} {{operator}} {{value2}} {{equal}} {{value3}}">
  </div>
  <div class="row">
    <button class="btn btn-dark" (click)="insertValue('0')">
      0
    </button>
    <button class="btn btn-dark" (click)="insertValue('1')">
      1
    </button>
    <button class="btn btn-dark" (click)="insertValue('2')">
      2
    </button>
  </div>
  <div class="row">
    <button class="btn btn-dark" (click)="insertValue('3')">
      3
    </button>
    <button class="btn btn-dark" (click)="insertValue('4')">
      4
    </button>
    <button class="btn btn-dark" (click)="insertValue('5')">
      5
    </button>
  </div>
  <div class="row">
    <button class="btn btn-dark" (click)="insertValue('6')">
      6
    </button>
    <button class="btn btn-dark" (click)="insertValue('7')">
      7
    </button>
    <button class="btn btn-dark" (click)="insertValue('8')">
      8
    </button>
  </div>
  <div class="row">
    <button class="btn btn-dark" (click)="insertValue('9')">
      9
    </button>
    <button class="btn btn-dark" (click)="insertPoint()">
      .
    </button>
    <button  class="btn btn-info" (click)="insertOperator('+')">
      +
    </button>
  </div>
  <div class="row">
    <button class="btn btn-info" (click)="insertMinus()">
      -
    </button>
    <button class="btn btn-info" (click)="insertOperator('x')">
      x
    </button>
    <button class="btn btn-info" (click)="insertOperator('÷')">
      ÷
    </button>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="clean()">
      C
    </button>
    <button class="btn btn-success" (click)="result()">
      =
    </button>
  </div>
</div>
